<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:insert="common :: htmlHead"></div>
    <body>
        <div th:insert="common :: navBar"></div>
        <!-- Main Body of Page -->

        <div class='container ' >
            <!-- Header -->

            <div th:insert="common :: pageHeader(title='Sightings')"></div>

            <!-- Sub Header -->

            <div th:insert="common :: pageSubHeader(title='Add Sighting')"></div>

            <div class="col-12 text-center pb-2">
                <a class=' text-primary ' th:href="@{/allSightings}" >View All Sightings</a>
            </div>
            <!-- form start -->
            <div class='d-flex justify-content-center'>

                <div class='border border-secondary col-7 '>
                    <div class="col-12 m-1 text-center" 
                         th:if="${!errors.isEmpty()}">
                        <p class="alert alert-danger" th:each="error : ${errors}" 
                           th:text="${error.message}">Error message</p>
                    </div>
                    <form class='p-5'  action="addSighting" method="POST">
                        <!--create hero start-->
                        <div class="form-group row">
                            <label for="heroId" class="col-3 col-form-label">Heros</label>
                            <div class="col-9">
                                <select multiple  id="heroId" name="heroId" class="form-control" >
                                    <option th:each="hero : ${heros}" 
                                            th:value="${hero.id}" 
                                            th:text="${hero.name}"
                                            >
                                    </option>
                                </select>
                                 <div class=' row pl-4'>
                                    <span class='text-center pt-2 pr-2'>Can't find a Hero ? </span>
                                    <a class='text-center pt-2 text-primary' th:href="@{/hero}"> Create Hero </a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="locationId" class="col-3 col-form-label">
                                Locations</label>
                            <div class="col-9">
                                <select   id="locationId" name="locationId" class="form-control" >
                                    <option  hidden >
                                       Select a location
                                    </option>
                                    <option th:each="location : ${locations}" 
                                            th:value="${location.id}" 
                                            th:text="${location.name}"
                                           
                                            >
                                    </option>
                                </select>
                                 <div class=' row pl-4'>
                                    <span class='text-center pt-2 pr-2'>Can't find a Location ? </span>
                                    <a class='text-center pt-2 text-primary' th:href="@{/location}"> Create Location </a>
                                </div>
                            </div>
                        </div>

                        <!--  create date start-->
                        <div class="form-group row ">

                            <label for="date" class="col-sm-3 col-form-label">Date</label>
                            <div class="col-9">
                                <input 
                                    type="datetime-local"
                                    id="date"
                                    name="date" 
                                    value=""
                                    min="1900-06-07T00:00"
                                    max="2080-06-14T00:00"
                                    >
                            </div>
                        </div>
                        <div class="form-group row d-flex justify-content-center ">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-success btn-lg btn-block ">Add</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <!-- Form end-->
        </div>
    </div>
</div>

<!-- End main body -->
<div th:insert="common :: scripts"></div>
<!-- footer -->
<div th:insert="common :: footer" >

</div>
</body>
</html>
