

<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:insert="common :: htmlHead"></div>
    <body>
        <div th:insert="common :: navBar"></div>
        <!-- Main Body of Page -->

        <div class='container ' >
            <!-- Header -->
            <div class='row'>
                <div class='col-12 '>
                    <h1 class='text-center text-dark display-1'>Heros</h1>
                    <hr />
                </div>
            </div>
            <div class='pt-3'>
                <h3 class='text-center text-dark'>Confirm Hero Organization Delete</h3>
                <hr />
            </div>

            <div class=' d-flex justify-content-center' >
                <div class='col-6'>
                    <h4 class='text-center text-dark'>Are you sure you want to Delete ?</h4>
                    <hr />
                </div>

            </div>

            <div class='d-flex justify-content-center'>
                <div class="p-2 w-50 ">
                    <div class="p-2" >
                        <a th:href="@{/deleteHeroOrganization(organizationId=${organizationId}, heroId=${heroId})}" class="btn btn-danger btn-lg btn-block">
                            Yes
                        </a>
                    </div>

                    <div class="p-2">
                        <a th:href="@{/heros}" class="btn btn-secondary btn-lg btn-block">
                            No
                        </a>
                    </div>

                </div>
            </div>




        </div>
    </div>
</div>
<!-- End main body -->
<div th:insert="common :: scripts"></div>
</body>
</html>
