<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:insert="common :: htmlHead"></div>
    <body>
        <div th:insert="common :: navBar"></div>
        <!-- Main Body of Page -->

        <div class='container' >


            <!-- Header -->

            <div th:insert="common :: pageHeader(title='Heros')"></div>

            <!-- Sub Header -->

            <div th:insert="common :: pageSubHeader(title='Edit Hero')"></div>

            <!-- form -->
            <div class='d-flex justify-content-center'>
                <div class='border border-secondary col-7 '>
                    <div class="col-12 m-1 text-center" 
                         th:if="${!errors.isEmpty()}">
                        <p class="alert alert-danger" th:each="error : ${errors}" 
                           th:text="${error.message}">Error message</p>
                    </div>
                    <form class='p-5'  action="editHero" method="POST" >
                        <div class="form-group row" >
                            <label for="name" class="col-sm-2  col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="name" th:value="${hero.name}">
                            </div>

                        </div>
                        <div class="form-group row  d-flex justify-content-center">
                            <label for="description" class="col-sm-2 col-form-label">Description</label>
                            <div class="col-sm-10">
                                <input class="form-control" name="description" th:value="${hero.description}"></input>
                            </div>

                        </div>

                        <div class="form-group row  d-flex justify-content-center">
                            <label for="superPower" class="col-sm-3 col-form-label">Super Powers (optional)</label>
                            <div class="col-sm-9">
                                <select  id="superPower_id" name="superPower_id" class="form-control" >
                                    <option th:each="power : ${superPowers}" 
                                            th:value="${power.id}" 
                                            th:text="${power.name}"

                                            >
                                    </option>
                                </select>
                                <div class=' row pl-4'>
                                    <span class='text-center pt-2 pr-2'>Can't find a super power ? </span>
                                    <a class='text-center pt-2 text-primary' th:href="@{/superPower}"> Create Super Power </a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row  d-flex justify-content-center">
                            <label for="organization" class="col-sm-3 col-form-label">Organizations (optional)</label>
                            <div class="col-sm-9">
                                <select  multiple id="organizationIds" name="organizationIds" class="form-control" >
                                    <option th:each="organization : ${organizations}" 
                                            th:value="${organization.id}" 
                                            th:text="${organization.name}"
                                            >
                                    </option>
                                </select>
                                <div class=' row pl-4'>
                                    <span class='text-center pt-2 pr-2'>Can't find a organization ? </span>
                                    <a class='text-center pt-2 text-primary' th:href="@{/organization}"> Create Organization </a>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="locations" class="col-3 col-form-label">
                                Locations (optional)</label>
                            <div class="col-9">
                                <select   id="locationId" name="locationId" class="form-control" >
                                    <option th:each="location : ${locations}" 
                                            th:value="${location.id}" 
                                            th:text="${location.name}"
                                            >
                                    </option>
                                </select>
                                <div class=' row pl-4'>
                                    <span class='text-center pt-2 pr-2'>Can't find a Location ? </span>
                                    <a class='text-center pt-2 text-primary' th:href="@{/location}"> Create Location </a>
                                </div>
                            </div>
                        </div>

                        <!--  create date start-->
                        <div class="form-group row ">

                            <label for="date" class="col-sm-3 col-form-label">Date (optional)</label>
                            <div class="col-9">
                                <input 
                                    type="datetime-local"
                                    id="date"
                                    name="date" 
                                    value=""
                                    min="1900-06-07T00:00"
                                    max="2080-06-14T00:00"
                                    >
                            </div>
                        </div>
                        <div class="form-group row d-flex justify-content-center ">
                            <div class="col-sm-10">
                                <input type="hidden" name="id" th:value="${hero.id}"/>
                                <button  type="submit" class="btn btn-primary btn-lg btn-block ">OK</button>
                                <a   th:href="@{/heroDetails(id=${hero.id})}" class="btn btn-danger btn-lg btn-block ">CANCEL</a>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

            <!-- Form end-->

        </div>

    </div>
    <!-- End main body -->
    <div th:insert="common :: scripts"></div>
</body>
</html>
