<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:insert="common :: htmlHead"></div>
    <body>
        <div th:insert="common :: navBar"></div>
        <!-- Main Body of Page -->
        <div class='container' >
            <!-- Header -->
            <div th:insert="common :: pageHeader(title='Heros')"></div>
            <!-- Sub Header -->
            <div th:insert="common :: pageSubHeader(title='Add Hero')"></div>
            
            <div class="col-12 text-center pb-2">
                <a class=' text-primary ' th:href="@{/allHeros}" >View All Heros</a>
            </div>
            <!-- form start -->
            <div class='d-flex justify-content-center'>
                <div class='border border-secondary col-7 '>
                    <div class="col-12 m-1 text-center" 
                         th:if="${!errors.isEmpty()}">
                        <p class="alert alert-danger" th:each="error : ${errors}" 
                           th:text="${error.message}">Error message</p>
                    </div>
                    <form class='p-5'  action="addHero" method="POST">
                        <div class="form-group row" >
                            <label for="name" class="col-sm-2  col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="name" placeholder="Hero name">
                            </div>
                        </div>
                        <div class="form-group row  d-flex justify-content-center">
                            <label for="description" class="col-sm-2 col-form-label">Description</label>
                            <div class="col-sm-10">
                                <input class="form-control" name="description" rows="3" placeholder="Hero description"></input>
                            </div>
                        </div>
                        <div class="form-group row d-flex justify-content-center ">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-success btn-lg btn-block ">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Form end-->
        </div>

    </div>
    <!-- End main body -->
    <div th:insert="common :: scripts"></div>
    <!-- footer -->
    <div th:insert="common :: footer" >

    </div>
</body>
</html>
