

<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:insert="common :: htmlHead"></div>
    <body>
        <div th:insert="common :: navBar"></div>
        <!-- Main Body of Page -->
        <div class='container'>
            <!-- Header -->
            <div th:insert="common :: pageHeader(title='Super Powers')"></div>
            <!-- Sub Header -->
            <div class="col-12" th:insert="common :: headerAndCount(title='All Super Powers', count=${superPowers})" >
            </div>
            <div class="col-12 text-center pb-2">
                <a class=' text-primary ' th:href="@{/superPower}" >Go Back</a>
            </div>
            <div  th:if="${superPowers.empty}" class="col-12  d-flex justify-content-center p-5">
                <h6>There are currently no Super Powers.</h6>
            </div>
            <!-- table Hero start-->
            <div class="row p-2" th:if="${!superPowers.empty}">
                <div class="col text-center  d-flex justify-content-center">
                    <table class="table table-striped w-75 border border-dark ">
                        <thead class='bg-dark'>
                            <tr>
                                <th class='text-light'>ID</th>
                                <th class='text-light'>Power</th>
                                <th class='text-light'>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="superPower : ${superPowers}">
                                <td th:text="${superPower.id}">ID</td>
                                <td th:text="${superPower.name}">Power</td>
                                <td>
                                    <a th:href="@{/superPowerDetails(superPowerId=${superPower.id})}"  class="fas fa-info-circle text-secondary">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Form end-->
        </div>
    </div>
    <!-- End main body -->
    <div th:insert="common :: scripts"></div>
    <!-- footer -->
    <div th:insert="common :: footer" >

    </div>
</body>
</html>
