

<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:insert="common :: htmlHead"></div>
    <body>
        <div th:insert="common :: navBar"></div>
        <!-- Main Body of Page -->
        <div class='container'>
            <!-- Header -->
            <div th:insert="common :: pageHeader(title='Heros')"></div>
            <!-- Sub Header -->
            <div class="col-12" th:insert="common :: headerAndCount(title='All Organizations', count=${organizations})" >
            </div>
            <div class="col-12 text-center p-3">
                <a class=' text-primary ' th:href="@{/organization}">Go Back</a>
            </div>

            <div  th:if="${organizations.empty}" class="col-12  d-flex justify-content-center p-5">
                <h6>There are currently no Organizations.</h6>
            </div>

            <!-- table Organization start-->
            <div class="row p-2"  th:if="${!organizations.empty}">

                <div class="col text-center  d-flex justify-content-center">
                    <table class="table table-striped w-75 border border-dark ">
                        <thead class='bg-dark'>
                            <tr>
                                <th class='text-light'>ID</th>
                                <th class='text-light'>Name</th>
                                <th class='text-light'>Description</th>
                                <th class='text-light'>address</th>
                                <th class='text-light'>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="organization : ${organizations}">
                                <td th:text="${organization.id}">id</td>
                                <td th:text="${organization.name}">name</td>
                                <td th:text="${organization.description}">description</td>
                                <td th:text="${organization.address}">address</td>
                                <td>
                                    <a th:href="@{/organizationDetails(organizationId=${organization.id})}"  class="fas fa-info-circle text-secondary">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Form end-->
        </div>
    </div>
    <!-- End main body -->
    <div th:insert="common :: scripts"></div>
    <!-- footer -->
    <div th:insert="common :: footer" >

    </div>
</body>
</html>
