<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:insert="common :: htmlHead"></div>
    <body>
        <div th:insert="common :: navBar"></div>
        <!-- Main Body of Page -->

        <div class='container ' >
            <!-- Header -->

            <div th:insert="common :: pageHeader(title='Locations')"></div>

            <!-- Sub Header -->

            <div th:insert="common :: pageSubHeader(title='Add Location')"></div>
            
               <div class="col-12 text-center pb-2">
                <a class=' text-primary ' th:href="@{/allLocations}" >View All Locations</a>
            </div>
            <!-- form start -->
            <div class='d-flex justify-content-center'>

                <div class='border border-secondary col-7 '>
                    <div class="col-12 m-1 text-center" 
                         th:if="${!errors.isEmpty()}">
                        <p class="alert alert-danger" th:each="error : ${errors}" 
                           th:text="${error.message}">Error message</p>
                    </div>
                    <form class='p-5'  action="addLocation" method="POST">
                        <div class="form-group row" >
                            <label for="name" class="col-sm-2  col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="name" placeholder="Location name">
                            </div>
                        </div>
                        <div class="form-group row  d-flex justify-content-center">
                            <label for="description" class="col-sm-2 col-form-label">Description</label>
                            <div class="col-sm-10">
                                <input class="form-control" name="description" rows="3" placeholder="Location description - What's happening here?"></input>
                            </div>
                        </div>
                        <div class="form-group row  d-flex justify-content-center">
                            <label for="address" class="col-sm-2 col-form-label">Address</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="address" placeholder="Location address  ">
                            </div>
                        </div>
                        <div class="form-group row  d-flex justify-content-center">
                            <label for="latitude" class="col-sm-2 col-form-label">Latitude</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="latitude" placeholder="Location's latitude">
                            </div>
                        </div>
                        <div class="form-group row  d-flex justify-content-center">
                            <label for="longitude" class="col-sm-2 col-form-label">Longitude</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="longitude" placeholder="Location's longitude">
                            </div>
                        </div>
                            <div class="form-group row">
                            <label for="heros" class="col-2 col-form-label">Heros (optional)</label>
                            <div class="col-9">
                                <select multiple  id="herosId" name="herosId" class="form-control" >
                                    <option th:each="hero : ${heros}" 
                                            th:value="${hero.id}" 
                                            th:text="${hero.name}"
                                           
                                            >
                                    </option>
                                </select>
                                   <div class=' row pl-4'>
                                    <span class='text-center pt-2 pr-2'>Can't find a hero ? </span>
                                    <a class='text-center pt-2 text-primary' th:href="@{/hero}"> Create Hero </a>
                                </div>
                            </div>
                        </div>
                              <div class="form-group row ">

                            <label for="date" class="col-sm-2 col-form-label">Date (optional)</label>
                            <div class="col-10">
                                <input 
                                    type="datetime-local"
                                    id="date"
                                    name="date" 
                                    value=""
                                    min="1900-06-07T00:00"
                                    max="2080-06-14T00:00"
                                    >
                            </div>
                        </div>

                        <div class="form-group row d-flex justify-content-center ">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-success btn-lg btn-block ">Add</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <!-- Form end-->

        </div>
    
    </div>
    <!-- End main body -->
    <div th:insert="common :: scripts"></div>
    <!-- footer -->
    <div th:insert="common :: footer" >

    </div>
</body>
</html>
