<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!-- Head -->
    <div th:insert="common :: htmlHead"></div>
    <body>

        <div th:replace="common :: navBar"></div>
        <!-- Main Body of Page -->
        <div class='container' >
            <div class='row'>
                <div class='col '>
                    <h1 class='text-center text-dark display-1'>Hero Console</h1>
                    <h3 class='text-center text-dark'>All Things Super Hero</h3>
                    <hr />
                </div>
            </div>
            <div>
                <h3 class='text-center text-dark'>Sighting News Feed</h3>
            </div>

            <div class='col border border-secondary'>
                
<!--                <div th:each="sighting : ${sightings}">
                    
                    <div th:insert="common :: newsFeedtemplate">
                        
                    </div>
                    
                    
                </div>-->
                <div class=' pt-3'>
                    <div class='row p-1 pl-4 d-flex flex-row align-items-center justify-content-start' >
                        <img class="img-fluid img-thumbnail rounded-circle border border-secondary " style="width:5%" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="hero">
                          <h6 class='text-center text-dark pl-4'>Super Man was sighted </h6>
                        <h6 class='text-center text-dark pl-2 font-italic'>5 mins ago</h6>
                    </div>

                    <div class='col pt-2'>
                        <h5 class=' text-dark'>Lorem Ipsum is simply dummy text of the printing and typesetting industry,Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h5>
                    </div>
                    <hr />
                </div>
                <div>
                    <div class='row p-1 pl-4 d-flex flex-row align-items-center justify-content-start' >
                        <img class="img-fluid img-thumbnail rounded-circle border border-secondary " style="width:5%" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="hero">
                        <h6 class='text-center text-dark pl-4'>2 hrs ago</h6>
                    </div>

                    <div class='col pt-2'>
                        <h5 class=' text-dark'>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, </h5>
                    </div> 
                    <hr />
                </div>
            </div>
            <!-- End main body -->
            <!-- scripts -->
            <div th:insert="common :: scripts"></div>
    </body>
</html>