<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!-- Head -->
    <div th:insert="common :: htmlHead"></div>
    <body>

        <div th:replace="common :: navBar"></div>
        <!-- Main Body of Page -->
        <div class='container' >
            <div class='row'>
                <div class='col '>
                    <h1 class='text-center text-dark display-1'>Hero Console</h1>
                    <h3 class='text-center text-dark'>All Things Super Hero</h3>
                    <hr />
                </div>
            </div>
            <div class="col-12" th:insert="common :: headerAndCount(title='Sighting News Feed', count=${sightings})" >
            </div>
            <div class='col border border-secondary'>
                <div id='object' th:each="sighting : ${sightings}">
                    <div id='dateDiv' th:insert="common :: newsFeedtemplate( sighting=${sighting})" >
                    </div>
                </div>
            </div>
            <!-- End main body -->
            <!-- scripts -->
            <div th:insert="common :: scripts"></div>
    </body>
</html>