<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:insert="common :: htmlHead"></div>
    <body>
        <div th:insert="common :: navBar"></div>
        <!-- Main Body of Page -->

        <div class='container ' >
            <!-- Header -->

            <div th:insert="common :: pageHeader(title='Locations')"></div>

            <!-- Sub Header -->

            <div th:insert="common :: pageSubHeader(title='Add Location')"></div>
            <!-- form start -->
            <div class='d-flex justify-content-center'>

                <div class='border border-secondary col-7 '>
                    <div class="col-12 m-1 text-center" 
                         th:if="${!errors.isEmpty()}">
                        <p class="alert alert-danger" th:each="error : ${errors}" 
                           th:text="${error.message}">Error message</p>
                    </div>
                    <form class='p-5'  action="addLocation" method="POST">
                        <div class="form-group row" >
                            <label for="name" class="col-sm-2  col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="name" placeholder="Location name">
                            </div>
                        </div>
                        <div class="form-group row  d-flex justify-content-center">
                            <label for="description" class="col-sm-2 col-form-label">Description</label>
                            <div class="col-sm-10">
                                <input class="form-control" name="description" rows="3" placeholder="Location description"></input>
                            </div>
                        </div>
                        <div class="form-group row  d-flex justify-content-center">
                            <label for="address" class="col-sm-2 col-form-label">Address</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="address" placeholder="Location address">
                            </div>
                        </div>
                        <div class="form-group row  d-flex justify-content-center">
                            <label for="latitude" class="col-sm-2 col-form-label">Latitude</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="latitude" placeholder="Location's latitude">
                            </div>
                        </div>
                        <div class="form-group row  d-flex justify-content-center">
                            <label for="longitude" class="col-sm-2 col-form-label">Longitude</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="longitude" placeholder="Location's longitude">
                            </div>
                        </div>

                        <div class="form-group row d-flex justify-content-center ">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-success btn-lg btn-block ">Add</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <!-- Form end-->

        </div>
        <!-- Section Header-->
        <div th:insert="common :: sectionHeader(title='All Locations')" >

        </div>

        <!-- table Location start-->
        <div class="row p-2">

            <div class="col text-center  d-flex justify-content-center">
                <table class="table table-striped w-75 border border-dark ">
                    <thead class='bg-dark'>
                        <tr>
                            <th class='text-light'>ID</th>
                            <th class='text-light'>Name</th>
                            <th class='text-light'>Description</th>
                            <th class='text-light'>address</th>
                            <th class='text-light'>Latitude</th>
                            <th class='text-light'>Longitude</th>
                            <th class='text-light'>Edit</th>
                            <th class='text-light'>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="location : ${locations}">
                            <td th:text="${location.id}">id</td>
                            <td th:text="${location.name}">name</td>
                            <td th:text="${location.description}">description</td>
                            <td th:text="${location.address}">address</td>
                            <td th:text="${location.latitude}">latitude</td>
                            <td th:text="${location.longitude}">longitude</td>
                            <td> 
                                <a th:href="@{/editLocation(id=${location.id})}" class="fas fa-edit text-primary">
                                </a>
                            </td>
                            <td>
                                <a th:href="@{/deleteLocationConfirm(id=${location.id})}"  class="fas fa-trash-alt text-danger">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- End main body -->
    <div th:insert="common :: scripts"></div>
    <!-- footer -->
    <div th:insert="common :: footer" >

    </div>
</body>
</html>
